@import "../../../style-utils/variables.scss";
@import "../../../style-utils/mixins.scss";

.textArea {
  @include textField;
  height: 85px;
  resize: none;
  &:disabled {
    background-color: $color-text-field-background;
    cursor: no-drop;
  }
}

.textAreaFull {
  background-color: $color-text-field-background-hover;
}